# filetypes
[submodule "pack/filetypes/start/haskell-vim"]
	path = pack/filetypes/start/haskell-vim
	url = https://github.com/neovimhaskell/haskell-vim.git
[submodule "pack/filetypes/start/vim-nix"]
	path = pack/filetypes/start/vim-nix
	url = https://github.com/LnL7/vim-nix
[submodule "pack/filetypes/start/vim-solidity"]
	path = pack/filetypes/start/vim-solidity
	url = https://github.com/thesis/vim-solidity.git

# tools
[submodule "pack/tools/start/fzf"]
	path = pack/tools/start/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "pack/tools/start/fzf.vim"]
	path = pack/tools/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "pack/tools/start/editorconfig-vim"]
	path = pack/tools/start/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "pack/tools/start/vim-shellcheck"]
	path = pack/tools/start/vim-shellcheck
	url = https://github.com/itspriddle/vim-shellcheck.git
