# filetypes
[submodule "pack/filetypes/start/solidity"]
	path = pack/filetypes/start/vim-solidity
	url = https://github.com/tomlion/vim-solidity.git
[submodule "pack/filetypes/start/haskell-vim-scripts"]
	path = pack/filetypes/start/haskell-vim-scripts
	url = https://github.com/coot/haskell-vim-scripts.git
[submodule "pack/filetypes/start/vim-nix"]
	path = pack/filetypes/start/vim-nix
	url = https://github.com/LnL7/vim-nix

# tools
[submodule "pack/tools/start/fzf"]
	path = pack/tools/start/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "pack/tools/start/fzf.vim"]
	path = pack/tools/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "pack/tools/start/editorconfig-vim"]
	path = pack/tools/start/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
